<%= form_for(@synchronization) do |f| %>
    <% if @synchronization.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@synchronization.errors.count, "error") %> prohibited this synchronization from being
            saved:</h2>

          <ul>
            <% @synchronization.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="actions">
      Get new tweets at: </br>
      <%= f.text_field :run_at, id: 'timepicker' %> <br/>
      <%= f.submit 'Create', class: 'btn btn-info' %>
      <%= link_to 'Reset', synchronizations_path, class: 'btn btn-danger' %>
    </div>
<% end %>
