<div class="page-header">
  <h1>Tweets</h1>
  <%= link_to 'Get new Tweets', get_recent_tweets_path,
              class: 'btn btn-info' %>
  <hr />
  <%= form_tag tweets_path(@user), method: 'get', class: 'lang-select' do -%>
      <%= select_tag :langs, options_for_select(@langs.each { |l| [l, l] }, params[:langs]),
                     {multiple: true} %>
      <%= submit_tag 'Search', class: 'btn btn-info'%>
  <% end -%>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th width="85%">Tweet</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @tweets.each do |tweet| %>
      <tr>
        <td><%= message(tweet) %></td>
        <td>
          <%= link_to t('.show', default: t("helpers.links.show")), tweet_path(tweet),
                      class: 'btn btn-info' %>
          <%= link_to t('.destroy', default: t("helpers.links.destroy")),
                      tweet_path(tweet), method: :delete, class: 'btn btn-danger' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @tweets %>

